.my-5 {
  /* margin: 0 !important;
  padding: 0 !important; */
  /* border-left: 2px solid #f8d210; */
  width: 30em;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-color: rgb(235, 234, 232);
  padding: 2rem 0;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.montserratFont {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.mt-4 {
  background-color: rgb(28, 34, 70);
  border: 1px solid rgb(28, 34, 70);
}
.mt-4:hover {
  background-color: rgb(28, 34, 70);
  border: 1px solid rgb(28, 34, 70);
  color: #f8d210;
}

.contactUs {
  color: rgb(46, 57, 116);
  font-weight: 500;
}

.goldFontContact {
  color: rgb(28, 34, 70);
  font-weight: 600;
}

@media only screen and (max-width: 1024px) {
  .my-5 {
    width: 30em;
    /* border-top: 2px solid #f8d210; */
    border-left: none;
    padding: 2rem 1rem;
    margin-left: 10vw;
    margin-right: 1rem;
    background-color: rgba(245, 244, 241, 0.979);
  }
}

@media only screen and (max-width: 768px) {
  .my-5 {
    width: 20em;
  }
}
