:root {
  --mainColor: rgb(28, 34, 70);
  --mainColorLight: rgb(46, 57, 116);
  --secondaryColor: #f8d210;
  --textColor: rgb(245, 242, 242);
}

.interFont {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.interFontLight {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.montserratFont {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.montserratFontLight {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(28, 34, 70);
  color: white;
  font-weight: 200;
  padding: 1em 0;
  height: 20vh;
}
.contactContainer {
  color: white;
  font-weight: 200;
}
.footerItem {
  font-size: 1em;
}

.footerCategory {
  color: #f8d210;
  font-size: 1.2em;
  text-align: center;
}

.serviceAreaContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30vw;
}

.phoneNumber {
  color: white;
  text-decoration: none;
}
.phoneNumber:hover {
  color: #f8d210;
}

.goldFont {
  color: #f8d210;
}

@media only screen and (max-width: 1024px) {
  .footerContainer {
    flex-direction: column;
    height: 30vh;
  }

  .contactContainer {
    color: white;
    font-weight: 200;
    text-align: center;
    margin-bottom: 1em;
  }

  .serviceAreaContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
  }

  .footerItem {
    font-size: 0.9em;
  }

  .footerCategory {
    color: #f8d210;
    font-size: 1.2em;
    text-align: center;
  }

  .phoneNumber {
    font-size: 1.01em;
  }
}
