:root {
  --mainColor: rgb(28, 34, 70);
  --mainColorLight: rgb(46, 57, 116);
  --secondaryColor: rgb(158, 157, 157);
  --textColor: rgb(245, 242, 242);
}

.interFont {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.interFontLight {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.montserratFont {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.montserratFontLight {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.floridaImageContainer {
  width: 8vw;
  margin-left: 2vw;
}

.missionContainer {
  display: flex;
  justify-content: start;
  margin-left: 1vw;
  margin-right: 1em;
  margin: 0 1rem;
  margin-bottom: 2em;
  /* margin-bottom: 3rem;
  padding-bottom: 1rem; */
  /* border-bottom: 2px solid #f8d210; */
}

.formContainer {
  border: 3 px solid black;
  width: 50vw;
}

.blueFont {
  color: var(--mainColorLight);
}

.missionContentContainer {
  width: 55vw;
  padding: 0 2vw;
  margin-top: 4em;
  margin-bottom: 2em;
  padding-bottom: 3rem;
  border-bottom: 2px solid #f8d110de;
}

.header {
  font-size: 3.5vw;
  font-weight: 600;
}

.subheader {
  font-size: 2vw;
}

.content {
  font-size: 1.25vw;
  margin: 0 1rem;
}

.subHeaderInfoContainer {
  display: flex;
  justify-content: space-between;
  margin: 2em;
}

.subInfo {
  font-size: 1vw;
}

.phone {
  background-color: var(--mainColor);
  padding: 0.8vw;
  border-radius: 30px;
  color: var(--textColor);
}

@media only screen and (max-width: 1024px) {
  .missionContentContainer {
    width: 100vw;
    margin-top: 2em;
  }

  .header {
    font-size: 7vw;
  }

  .subheader {
    font-size: 4vw;
  }

  .content {
    font-size: 4vw;
  }

  .floridaImageContainer {
    width: 16vw;
    margin-left: 1vw;
  }

  .subInfo {
    font-size: 3vw;
  }

  .phone {
    background-color: var(--mainColor);
    padding: 3vw;
    border-radius: 50px;
    color: var(--textColor);
  }
}

@media only screen and (max-width: 1024px) and (min-width: 500) {
  .phone {
    padding: 2vw;
    border-radius: 30px;
  }
}
