.interFont {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.interFontExtraLight {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.montserratFontLight {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 0.85em;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --mainColor: rgb(28, 34, 70);
  --mainColorLight: rgb(46, 57, 116);
  --secondaryColor: #f8d210;
  --textColor: rgb(244, 241, 241);
}
.navHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  padding: 0 2rem;
  background-color: var(--mainColor);
  color: var(--textColor);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

body {
  padding-top: 80px;
}

nav .link {
  margin: 0 2rem;
  color: var(--textColor);
  text-decoration: none;
  font-size: 1.3rem;
}

nav .link:hover {
  color: #f8d210;
}

.navHeader .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.9rem;
  padding-bottom: 0;
}

.menu {
  padding-left: 3.7px;
  visibility: hidden;
  opacity: 0;
}

.goldFont {
  color: #f8d210;
  font-size: 1.1rem;
}

.jje {
  font-size: 1.5em;
}

@media only screen and (max-width: 1095px) {
  nav .link {
    font-size: 1.2rem;
  }

  .jje {
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 1024px) {
  .navHeader .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  .navHeader nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
    transform: translateY(-100vh);
  }

  .navHeader .responsive_nav {
    transform: none;
  }
  nav {
    z-index: 2;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav .link {
    font-size: 2rem;
  }

  .menu {
    visibility: visible;
    opacity: 1;
    font-size: 1rem;
  }

  .navHeader {
    height: 120px;
  }

  .jje {
    font-size: 1.2em;
  }
  .goldFont {
    font-size: 1em;
  }
}
