:root {
  --mainColor: rgb(28, 34, 70);
  --mainColorLight: rgb(46, 57, 116);
  --secondaryColor: rgb(158, 157, 157);
  --textColor: rgb(245, 242, 242);
}

.servicesContainer {
  position: relative;
  /* border: 3px solid red; */
  margin-bottom: 10em;
}

.concrete {
  width: 100%;
  height: 35vh;
  object-fit: cover;
  position: relative;
  z-index: 1;
  /* border: 3px solid gold; */
}

.concreteHand {
  border-radius: 7px;
}

.concreteHandContainer {
  position: relative;
  width: 45em;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 3;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  /* border: 3px solid black; */
}

.servicesHeader {
  position: absolute;
  top: 21%;
  left: 10%;
  transform: translate(-50%, -50%);
  /* color: #f8d210; */
  /* text-shadow: 1px 1px 1px rgb(85, 84, 84); */
  color: white;
  z-index: 3;
  width: 100%;
  text-align: left;
  margin-bottom: 5em;
  border-bottom: 3px solid rgb(28, 34, 70);
  padding-bottom: 8em;
}

.services {
  position: absolute;
  /* margin-top: 0.4em; */
  left: 42%;
  font-size: 6em;
}

.servicesIntroContainer {
  position: absolute;
  left: 2%;
  margin-top: 5vh; /* Adjust to sit below the images */
  width: 20vw;
  top: 25%;
  z-index: 1;
}

.servicesIntro {
  font-size: 1.3em;
  width: 40vw;
  margin: 0 auto;
  color: black;
  /* border: 3px solid purple; */
  margin-bottom: 10em;
}

.servicesListConatiner {
  margin-left: 2em;
  /* margin-top: 8em; */
}

.servicesCategory {
  color: var(--mainColorLight);
}

.servicesItem {
  list-style: none;
}

@media only screen and (max-width: 1360px) {
  .concreteHandContainer {
    position: relative;
    width: 35em;
  }

  .servicesListConatiner {
    margin-left: 2em;
    margin-top: 8em;
  }
}

@media only screen and (max-width: 1200px) {
  .servicesListConatiner {
    margin-left: 2em;
    margin-top: 12em;
  }
}

@media only screen and (max-width: 1024px) {
  .servicesContainer {
    position: static;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
  }
  /* .servicesContainer {
    position: static;
    display: block;
    flex-direction: column;
    /* border: 3px solid red; */
  /* margin-bottom: 10em; */
  /* } */

  .concrete {
    width: 100%;
    height: 35vh;
    object-fit: cover;
    position: static;
    z-index: 1;
    /* border: 3px solid gold; */
    display: none;
  }

  .concreteHand {
    border-radius: 0px;
  }

  .concreteHandContainer {
    display: flex;
    justify-content: center;
    position: static;
    width: fit-content;
    /* left: 0%; */
    z-index: 1;
    box-shadow: none;
    /* border: 3px solid black; */
    transform: none;
  }

  .servicesHeader {
    position: absolute;
    top: 50%;
    left: 0%;
    margin-left: 15%;
    transform: none;
    color: #f8d210;
    text-shadow: 0.3px 0.3px 0.3px rgb(85, 84, 84);
    color: white;
    z-index: 1;
    width: 85%;
    text-align: left;
    margin-bottom: 2em;
    z-index: 2;
    background-color: rgb(28, 34, 70);
    padding-bottom: 0;
    max-width: 100%;
  }

  .services {
    position: static;
    /* margin-top: 0.4em; */
    /* color: black; */
    left: 0%;
    font-size: 5em;
    padding-left: 0.2em;
  }

  .servicesIntroContainer {
    position: static;
    left: 50%;
    margin-top: 7vh; /* Adjust to sit below the images */
    width: 100vw;
    top: 0%;
    text-align: left;
    z-index: 1;
    /* background-color: rgb(248, 210, 16, 0.); */
  }

  .servicesIntro {
    font-size: 1.3em;
    width: 80vw;
    margin: 0 auto;
    color: black;
    /* border: 3px solid purple; */
    margin-bottom: 5em;
  }

  .servicesListConatiner {
    margin-left: 2em;
    margin-top: 0;
    margin-bottom: 3em;
  }
}

/* Default styles (for larger screens) remain above */

/* Mobile layout for screens 768px and smaller */
@media screen and (max-width: 768px) {
  .servicesHeader {
    position: absolute;
    top: 35%;
    font-size: 0.7em;
  }

  .concreteHandContainer {
    display: flex;
    justify-content: center;
    position: static;
    width: fit-content;
    /* left: 0%; */
    z-index: 1;
    box-shadow: none;
    /* border: 3px solid black; */
    transform: none;
    height: 30vh;
  }
}
