/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

* {
  margin: auto;
  padding: 0;
  margin-top: 0;
}

#deepBlue {
  background-color: #1027d6;
  border: 5px solid #f8d210;
  padding: 20px;
}

#gold {
  background-color: #f8d210;
}

#whiteText {
  color: whitesmoke;
}
/* .left {
  display: flex;
  justify-content: flex-start;
} */

.header-container {
  display: flex;
  align-items: flex-start;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 0 2em 0;
  /* background-color: #f5f6f8; */
  padding-top: 1em;
}

.interFont {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.interFontLight {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.montserratFont {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.montserratFontLight {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.navOption {
  list-style-type: none;
  margin-left: 2em;
  font-size: 1em;
}

#navList {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  /* align-content: space-between; */
}

#charlotteHarbor {
  border-radius: 8px;
}

#lastNavOption {
  border: 1px solid black;
  border-radius: 10px;
  background-color: black;
  color: white;
  padding: 0.4em;
  /* margin-bottom: 1em; */
}
#headerImgContainer {
  position: relative;
  text-align: center;
  color: white;
  display: flex;
  width: 100%;
  height: auto;
  margin: 2em 0;
}

img {
  width: 100%;
  height: auto;
}

.overlayText {
  position: absolute;
  font-size: 3.25vw;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.companyName {
  flex-direction: column;
}
@media only screen and (max-width: 1024px) {
  #charlotteHarbor {
    border-radius: 8px;
    height: 22vh;
  }

  .overlayText {
    font-size: 3.6vw;
  }
}
